body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 2rem;
  background: #111;
  color: #fff;
}

input, select {
  margin: 6px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #3fa34d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #45c15c;
}

hr {
  margin: 20px 0;
  border: 0.5px solid #333;
}
